/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--hind);
}

:root {
  /* font family */
  --hind: "Hind", sans-serif;
  --poppins: "Poppins", sans-serif;

  /* color */
  --basic: #fff;
  --dark: #2d2d2d;
  --grey: #5f5f5f;
  --primary: #d71396;
  --secondary: #1351d7;
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.dl a {
  /* dark bg */
  color: var(--basic);
}

.ll a {
  /* light bg */
  color: var(--dark);
}

.cta-primary {
  padding: 10px 1.5em;
  background-color: var(--primary);
  color: var(--basic) !important;
  border-radius: 8px;
  transition: 0.1s ease-in-out;
  border: none;
}

.cta-secondary {
  padding: 10px 1.5em;
  background-color: var(--none);
  color: var(--dark) !important;
  border-radius: 8px;
  transition: 0.1s ease-in-out;
  border: 1px solid var(--dark);
}

.cta-primary:hover {
  background-color: #b7107f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}

p {
  font-family: var(--hind);
}

/* nav */

nav {
  padding: 1em 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: 0.3s ease-in-out;
}

nav.scroll {
  background-color: var(--basic);
}

nav.scroll a,
nav.scroll span {
  color: var(--dark) !important;
}

nav a:hover {
  color: var(--primary);
}

.navigasi {
  width: 40%;
  transition: 0.3s ease-in-out;
}

.hamBtn {
  display: none;
}

.hamBtn span {
  color: var(--basic);
}

.hamBtn span.recolor {
  color: var(--dark);
}

/* end nav */

/* hero */

#hero {
  height: 100vh;
  overflow: hidden;
  color: var(--basic);
  position: relative;
}

#hero video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;
}

.highlight h1 {
  font-size: 2rem;
}

.highlight p {
  font-size: 1.2rem;
}

.highlight .btn {
  margin: 1em 0;
  justify-content: center;
  gap: 1em;
}

.highlight .btn .cta {
  flex: 1 1 150px;
  font-size: 1.2rem;
}

.btn a {
  border-color: var(--basic);
  color: var(--basic) !important;
}

/* end hero */

/* explore */

#explore,
#destination {
  padding: 3em 0;
}

#explore .row,
.restaurant {
  margin-top: 2em;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#explore .row .col {
  border-radius: 10px;
}

.card .card-header {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: var(--primary);
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card .card-header::-webkit-scrollbar,
.facilities::-webkit-scrollbar,
.destinations-review::-webkit-scrollbar,
.promo-review::-webkit-scrollbar {
  display: none;
}

.card .card-header img {
  flex: 0 0 100%;
  object-fit: cover;
}

.card .tittle {
  padding: 10px;
  align-items: flex-start;
}

.card .tittle p {
  font-style: italic;
  color: var(--grey);
}

.restaurant .resto {
  height: 300px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.restaurant .resto h2 {
  transition: 0.3s ease-in-out;
}

.restaurant .resto:hover h2 {
  filter: blur(50px);
}

.restaurant .resto figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out 0.1s;
  filter: blur(50px);
  transform: translate(-50%, -50%) scale(0);
}

.restaurant .resto:hover figure {
  transform: translate(-50%, -50%) scale(1);
  filter: blur(0);
}

.restaurant .resto:first-child {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.7819502801120448) 78%
    ),
    url(../assets/resto/aoka/aoka-1.jpg), no-repeat;
  background-size: cover;
  background-position: center;
}

.restaurant .resto:nth-child(2) {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.7819502801120448) 78%
    ),
    url(../assets/resto/kedaimaleo/kedai-maleo-1.jpg), no-repeat;
  background-size: cover;
  background-position: center;
}

.facilities {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.facilities img {
  max-width: 300px;
}

.facilities .facilities-review {
  flex: 0 0 300px;
}

.facilities .facilities-review figcaption {
  margin-top: 1em;
}

.facilities .facilities-review figcaption p {
  margin-top: 0.5em;
  font-size: 0.8rem;
  text-align: justify;
  color: var(--grey);
}

/* end explore */

/* destinations */

#destination {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.7819502801120448) 78%
    ),
    url(https://images.unsplash.com/photo-1620339479405-256840ff6690?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80),
    no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--basic);
}

#destination h1 {
  font-size: 4rem;
  line-height: 80px;
  margin-bottom: 0.5em;
}

#destination .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  align-items: center;
}

.destinations-review {
  gap: 1em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-destinations {
  flex: 0 0 200px;
  height: 400px;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 10px;
}

.card-destinations:first-child {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(https://images.unsplash.com/photo-1588312578101-cacee14bb0ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80),
    no-repeat;
  background-size: cover;
  background-position: center;
}

.card-destinations:nth-child(2) {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(https://images.unsplash.com/photo-1541526473962-db2b2baca7c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=392&q=80),
    no-repeat;
  background-size: cover;
  background-position: center;
}

.card-destinations:nth-child(3) {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(https://images.unsplash.com/photo-1642392558826-6cdc29da9069?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80),
    no-repeat;
  background-size: cover;
  background-position: center;
}

.card-destinations:nth-child(4) {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(https://images.unsplash.com/photo-1571175443748-8b40fae3ed70?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80),
    no-repeat;
  background-size: cover;
  background-position: center;
}

.card-destinations:last-child {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(https://images.unsplash.com/photo-1622889079615-164e3879da3d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80),
    no-repeat;
  background-size: cover;
  background-position: center;
}

.promotion,
.promo-review {
  margin-top: 2em;
}

.promo-review {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: left;
  justify-content: flex-start;
}

.promo-review .col {
  flex: 0 0 60%;
  height: 300px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1em;
  border-radius: 10px;
}

.promo-review .col:first-child {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(../assets/rooms/deluxe/kasuari-deluxe-1.jpg), no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-review .col:nth-child(2) {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(../assets/rooms/deluxe/kasuari-deluxe-1.jpg), no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-review .col:last-child {
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8183648459383753) 22%,
      rgba(30, 30, 30, 0.09567577030812324) 61%
    ),
    url(../assets/rooms/deluxe/kasuari-deluxe-1.jpg), no-repeat;
  background-size: cover;
  background-position: center;
}

/* end destinations */

/* footer */

footer {
  padding: 2em 0;
  background: var(--dark);
  color: var(--basic);
}

footer .row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.copyright {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

/* end footer */
